body {
    padding: 0;
    margin: 0;
    background-color: gold;
    height: 100vh;
}
/* Header section  */
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 5%;
    right: 5%;
}
.header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* logo  */
.logo i span {
    font-family: "Sofia", sans-serif;
    color: #d61c4e;
    font-size: 40px;
}
.logo i {
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
}

/* nav item  */
.nav-item1,
.nav-item2,
.nav-item3 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 30px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    margin: 0px;
}
.nav-item1 {
    background-image: linear-gradient(#ff8ed4, #ff8ed4, gold);
    height: 250px;
    padding: 0 40px;
    text-align: center;
}
.nav-item2 {
    background-image: linear-gradient(#f6508d, #f97ba9, gold);
    height: 300px;
    padding: 0 40px;
    text-align: center;
    color: white;
}
.nav-item3 {
    background-image: linear-gradient(#fd297a, #fd297a, gold);
    height: 350px;
    padding: 0 40px;
    text-align: center;
    color: white;
}

/* cover  */
.cover .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.title1 {
    font-size: 90px;
    color: #38cca5;
    position: absolute;
    top: 80px;
    left: 200px;
}
.title2 {
    font-size: 150px;
    color: #3a3a3a;
    position: absolute;
    top: 125px;
    left: 70px;
}
.title3 {
    font-size: 80px;
    color: black;
    position: absolute;
    top: 120px;
    left: 580px;
}
.cover-image {
    height: 400px;
    position: absolute;
    top: 100px;
    left: 170px;
    transition: 4s ease-in-out;
}
.spring-image {
    height: 220px;
    position: absolute;
    top: 435px;
    left: 520px;
    width: 100px;
    transition: 5s ease-in-out;
}
.join-btn {
    background-color: gold;
    padding: 10px;
    position: absolute;
    top: 630px;
    left: 525px;
    font-weight: 900;
    border: none;
    color: white;
}
.main-cover:hover .cover-image {
    transform: translateY(23%);
}
.main-cover:hover .spring-image {
    height: 100px;
    transform: translateY(100%);
}
.footer {
    background-image: url(./images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    top: 50vh;
    height: 50vh;
    display: flex;
    align-items: flex-end;
}
.location {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

/*--------------------
        MOBILE
---------------------*/
@media only screen and (max-width: 688px) {
    body {
        height: 100vh;
    }
    /* header  */
    .logo i span {
        font-size: 20px;
    }
    .logo i {
        font-size: 15px;
    }
    .nav-item1,
    .nav-item2,
    .nav-item3 {
        font-size: 18px;
        padding: 20px;
    }
    .nav-item1 {
        height: 80px;
    }
    .nav-item2 {
        height: 110px;
    }
    .nav-item3 {
        height: 160px;
    }

    /* cover  */
    .title1 {
        font-size: 40px;
        left: 40px;
        top: 70px;
    }
    .title2 {
        font-size: 50px;
        top: 90px;
        left: 10px;
    }
    .title3 {
        font-size: 35px;
        top: 200px;
        left: 203px;
    }
    .cover-image {
        height: 200px;
        left: 2px;
    }
    .spring-image {
        height: 120px;
        width: 40px;
        top: 260px;
        left: 175px;
    }
    .join-btn {
        background-color: #02022d;
        top: 360px;
        left: 153px;
    }
    .main-cover:hover .cover-image {
        transform: translateY(23%);
    }
    .main-cover:hover .spring-image {
        height: 60px;
        transform: translateY(100%);
    }
    /* footer  */
    .footer {
        background-image: url(./images/wave.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: -1;
        top: 50vh;
        height: 50vh;
        display: flex;
        align-items: flex-end;
    }
}
